* {
  margin: 0;
  padding: 0;
}

nav {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(31, 30, 30, 0.1);
}

body {
  color: black;
}

body.white {
  background-color: white;
}

body.dark {
  background-color: rgb(23, 21, 21);
  color: white;
}

body.blue {
  background-color: blue;
  color: white;
}

body.yellow {
  background-color: yellow;
  color: black;
}

body.aqua {
  background-color: aqua;
  color: black;
}

nav .themes span {
  display: inline-block;
  width: 2rem;
  aspect-ratio: 1/1;
  border: 0.1rem solid rgba(43, 38, 38, 0.152);
  border-radius: 50%;
  margin: 0 0.3rem;
  cursor: pointer;
}

nav .themes .white {
  background-color: white;
}

nav .themes .dark {
  background-color: rgb(23, 21, 21);
}

nav .themes .blue {
  background-color: blue;
}

nav .themes .yellow {
  background-color: yellow;
}

nav .themes .aqua {
  background-color: aqua;
}